<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="openeta_rm75_v_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00049987 5.2709E-05 0.060019"
        rpy="0 0 0" />
      <mass
        value="1.862" />
      <inertia
        ixx="0.0017232"
        ixy="-3.1058E-06"
        ixz="-3.7924E-05"
        iyy="0.0017051"
        iyz="1.3691E-06"
        izz="0.00090158" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.000241 -0.013273 -0.00995"
        rpy="0 0 0" />
      <mass
        value="1.574" />
      <inertia
        ixx="0.002487573"
        ixy="0.000009663"
        ixz="-0.000007909"
        iyy="0.002321038"
        iyz="0.000179393"
        izz="0.001450554" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <!-- Workcell mounting transform: the RM75 pedestal faces away from the
         work table.  Keep this rotation inside the kinematic tree (rather
         than applying a Gazebo-only spawn yaw) so TF, MoveIt, IK, collision
         checking, and the rendered robot all share the same base frame. -->
    <origin
      xyz="0 0 0.2405"
      rpy="0 0 3.14159265359" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.106"
      upper="3.106"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.000357 -0.106789 0.005329"
        rpy="0 0 0" />
      <mass
        value="1.217" />
      <inertia
        ixx="0.003494121"
        ixy="0.000002921"
        ixz="-0.000005613"
        iyy="0.000892721"
        iyz="-0.000583884"
        izz="0.003444080" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2689"
      upper="2.2689"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.000003 -0.01398 -0.011324"
        rpy="0 0 0" />
      <mass
        value="1.11" />
      <inertia
        ixx="0.001836663"
        ixy="0.000002259"
        ixz="-0.000004216"
        iyy="0.001498875"
        iyz="0.000037167"
        izz="0.001062545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 -0.256 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.106"
      upper="3.106"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.000005 -0.084658 0.004747"
        rpy="0 0 0" />
      <mass
        value="0.685" />
      <inertia
        ixx="0.001282444"
        ixy="-0.000000551"
        ixz="-0.000000630"
        iyy="0.000373013"
        iyz="-0.000232084"
        izz="0.001256177" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.356"
      upper="2.356"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.000078 -0.012937 -0.008781"
        rpy="0 0 0" />
      <mass
        value="0.619" />
      <inertia
        ixx="0.000627336"
        ixy="0.000001636"
        ixz="-0.000001345"
        iyy="0.000542455"
        iyz="0.000034970"
        izz="0.000370291" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.21 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.106"
      upper="3.106"
      effort="10"
      velocity="3.14" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-0.000014 -0.078524 0.002819"
        rpy="0 0 0" />
      <mass
        value="0.602" />
      <inertia
        ixx="0.000780774"
        ixy="-0.000000121"
        ixz="-0.000000469"
        iyy="0.000289973"
        iyz="-0.000120513"
        izz="0.000763955" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.234"
      upper="2.234"
      effort="10"
      velocity="3.14" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="0.001094 -0.000077 -0.010119"
        rpy="0 0 0" />
      <mass
        value="0.144" />
      <inertia
        ixx="0.000044123"
        ixy="-0.000000064"
        ixz="0.0000003"
        iyy="0.000035078"
        iyz="-0.000000029"
        izz="0.000065445" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://openeta_rm75_v_description/meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="revolute">
    <origin
      xyz="0 -0.1845 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="10"
      velocity="3.14" />
  </joint>
  <!-- Keep the manufacturer's physical wrist-camera mounting datum and mesh.
       The full-length arm is pitched toward the tool tip below.  This keeps
       the optical ray clear of the wrist and gripper body; shortening this
       arm makes their fixed self-occlusion dominate every eye-in-hand view. -->
  <link name="wrist_camera_bracket_link">
    <inertial>
      <origin xyz="0.0080749 -0.0222475 0.0085055" rpy="0 0 0" />
      <mass value="0.010" />
      <inertia ixx="4.0E-06" ixy="-5.0E-07" ixz="0"
               iyy="1.4E-06" iyz="0" izz="3.8E-06" />
    </inertial>
    <visual name="wrist_camera_vendor_bracket">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://openeta_rm75_v_description/meshes/camera_rolink.STL"
              scale="1 1 1" />
      </geometry>
      <material name="wrist_camera_aluminium"><color rgba="0.75294 0.75294 0.75294 1" /></material>
    </visual>
    <collision name="wrist_camera_vendor_bracket_collision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://openeta_rm75_v_description/meshes/camera_rolink.STL"
              scale="1 1 1" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_camera_bracket_joint" type="fixed">
    <!-- Use the manufacturer's terminal -X camera shoe.  Pitch the original
         arm 25 degrees toward the tool tip and seat it 20 mm proximally on
         the wrist.  The latter preserves a swept keep-out around the 220 mm
         grasped-part envelope (part radius + exact housing radius + settling
         clearance), instead of letting a released part tip into the camera.
         The longer working distance also reduces fixed gripper occlusion. -->
    <origin xyz="-0.0335 0.0085 -0.07388"
            rpy="-1.57079632679 -1.1344640138 0" />
    <parent link="link_7" />
    <child link="wrist_camera_bracket_link" />
  </joint>
  <link name="wrist_camera_housing_link">
    <inertial>
      <origin xyz="-0.009 0 -0.011436" rpy="0 0 0" />
      <mass value="0.03915" />
      <inertia ixx="7.2029E-06" ixy="0" ixz="0"
               iyy="7.199E-06" iyz="0" izz="1.1014E-05" />
    </inertial>
    <visual name="wrist_camera_vendor_housing">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://openeta_rm75_v_description/meshes/camera_link.STL" />
      </geometry>
      <material name="wrist_camera_housing"><color rgba="0.12 0.14 0.16 1" /></material>
    </visual>
    <visual name="wrist_camera_rubber_isolator">
      <origin xyz="-0.009 0 0.0015" rpy="0 0 0" />
      <geometry><box size="0.034 0.036 0.003" /></geometry>
      <material name="wrist_camera_rubber"><color rgba="0.035 0.040 0.045 1" /></material>
    </visual>
    <visual name="wrist_camera_tilt_hinge">
      <origin xyz="-0.009 0 0.0045" rpy="1.57079632679 0 0" />
      <geometry><cylinder radius="0.006" length="0.030" /></geometry>
      <material name="wrist_camera_hinge"><color rgba="0.32 0.35 0.38 1" /></material>
    </visual>
    <visual name="wrist_camera_front_bezel">
      <origin xyz="-0.009 0 -0.0238" rpy="0 0 0" />
      <geometry><box size="0.034 0.038 0.0016" /></geometry>
      <material name="wrist_camera_bezel"><color rgba="0.025 0.030 0.035 1" /></material>
    </visual>
    <visual name="wrist_camera_left_depth_lens">
      <origin xyz="-0.009 -0.012 -0.0250" rpy="0 0 0" />
      <geometry><cylinder radius="0.0040" length="0.0024" /></geometry>
      <material name="wrist_camera_depth_glass"><color rgba="0.020 0.090 0.145 0.98" /></material>
    </visual>
    <visual name="wrist_camera_rgb_lens">
      <origin xyz="-0.009 0 -0.0250" rpy="0 0 0" />
      <geometry><cylinder radius="0.0045" length="0.0024" /></geometry>
      <material name="wrist_camera_rgb_glass"><color rgba="0.035 0.055 0.075 0.98" /></material>
    </visual>
    <visual name="wrist_camera_right_depth_lens">
      <origin xyz="-0.009 0.012 -0.0250" rpy="0 0 0" />
      <geometry><cylinder radius="0.0040" length="0.0024" /></geometry>
      <material name="wrist_camera_depth_glass" />
    </visual>
    <visual name="wrist_camera_status_led">
      <origin xyz="0.006 0.014 -0.0251" rpy="0 0 0" />
      <geometry><sphere radius="0.0014" /></geometry>
      <material name="wrist_camera_status_green"><color rgba="0.08 0.72 0.24 1" /></material>
    </visual>
    <visual name="wrist_camera_model_badge">
      <origin xyz="0.005 -0.014 -0.0251" rpy="0 0 0" />
      <geometry><box size="0.006 0.002 0.0008" /></geometry>
      <material name="wrist_camera_badge"><color rgba="0.62 0.66 0.70 1" /></material>
    </visual>
    <collision name="wrist_camera_vendor_housing_collision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://openeta_rm75_v_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_camera_housing_joint" type="fixed">
    <!-- Seat the camera directly on the original 100.22 mm bracket datum,
         without another cantilever.  Its optical ray passes outside the
         Robotiq body and converges on the operation axis 400 mm beyond
         link_7.  Converging on the 104 mm grasp centre would point straight
         through the gripper and make fixed self-occlusion unavoidable. -->
    <origin xyz="0.029031 -0.10022 -0.0005"
            rpy="-1.55172489 0.06894605 1.40558276" />
    <parent link="wrist_camera_bracket_link" />
    <child link="wrist_camera_housing_link" />
  </joint>
  <link name="wrist_camera_optical_frame" />
  <joint name="wrist_camera_optical_joint" type="fixed">
    <!-- The vendor camera mesh occupies local z=[-0.023, 0], with its lens
         face at -Z.  Gazebo sensors look along +X, so +pi/2 about Y aligns
         the sensor ray with the physical lens face. -->
    <origin xyz="0 0 -0.0242" rpy="0 1.57079632679 0" />
    <parent link="wrist_camera_housing_link" />
    <child link="wrist_camera_optical_frame" />
  </joint>
  <gazebo reference="wrist_camera_optical_frame">
    <sensor name="openeta_wrist_rgbd" type="rgbd_camera">
      <camera>
        <!-- A moderate wide-angle field retains the target after the physical
             hinge tilt without spending pixels on the near wrist body. -->
        <horizontal_fov>1.308996938996</horizontal_fov>
        <image><width>640</width><height>480</height><format>R8G8B8</format></image>
        <clip><near>0.02</near><far>5.0</far></clip>
      </camera>
      <always_on>true</always_on>
      <!-- Preserve native 640x480 RGB-D quality while avoiding continuous
           15 Hz eye-in-hand rendering during collision-aware trajectories. -->
      <update_rate>3</update_rate>
      <topic>openeta_wrist_rgbd</topic>
      <gz_frame_id>wrist_camera_optical_frame</gz_frame_id>
    </sensor>
  </gazebo>
</robot>
