.git
.cache
.openeta_memory
.pytest_cache
.ruff_cache
.tools
.venv
**/__pycache__
**/*.pyc
checkpoint_detection.tar*
checkpoint_tracking.tar*
license_YuanyiYan.zip*
outputs
sim/venvs
tmp
extensions/gazebo/ros2_ws/build
extensions/gazebo/ros2_ws/install
extensions/gazebo/ros2_ws/log
