<?xml version="1.0"?>
<robot name="rm75_parallel_gripper_sim_v1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="controller_config" default="$(find openeta_rm75_parallel_sim)/config/controllers.yaml"/>
  <xacro:include filename="$(find openeta_rm75_v_description)/urdf/rm75_6fb_v.urdf.xacro"/>
  <xacro:include filename="$(find openeta_rm75_parallel_sim)/urdf/parallel_gripper_fixture.xacro"/>
  <xacro:include filename="$(find openeta_rm75_parallel_sim)/urdf/ros2_control.xacro"/>
  <xacro:parallel_gripper_fixture parent="link_7"/>
  <xacro:openeta_ros2_control controller_config="$(arg controller_config)"/>
  <gazebo reference="gripper_mount_joint"><preserveFixedJoint>true</preserveFixedJoint></gazebo>
</robot>
